<div class="d-flex mx-auto justify-content-center">
  <form #EditBookForm="ngForm" (ngSubmit)="editBook(EditBookForm)" novalidate>
    <h2 class="text-center text-success">Edit book</h2>
    <hr />

    <div class="form-group text-center">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="title"
        placeholder="Title"
        required
        minlength="5"
        [(ngModel)]="book.title"
      />
      <div
        *ngIf="EditBookForm.controls?.title?.invalid && EditBookForm.submitted"
        class="error"
      >
        The title should be at least 5 characters.
      </div>
    </div>
    <div class="form-group text-center">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="author"
        placeholder="Author"
        required
        minlength="5"
        [(ngModel)]="book.author"
      />
      <div
        *ngIf="EditBookForm.controls?.author?.invalid && EditBookForm.submitted"
        class="error"
      >
        The author should be at least 5 characters.
      </div>
    </div>
    <div class="form-group text-center">
      <input
        class="form-control mr-sm-2"
        type="number"
        name="pages"
        placeholder="Pages"
        required
        [(ngModel)]="book.pages"
      />
      <div
        *ngIf="EditBookForm.controls?.pages?.invalid && EditBookForm.submitted"
        class="error"
      >
        The pages are required.
      </div>
    </div>
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select [(ngModel)]="book.genre" name="genre" required>
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      *ngIf="EditBookForm.controls?.genre?.invalid && EditBookForm.submitted"
      class="error"
    >
      The genre is requried.
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">
        Edit Book
      </button>
    </div>
  </form>
</div>
