<form #MsgForm="ngForm" (ngSubmit)="sendMessage(MsgForm)">
  <mat-form-field *ngIf="!partner">
    <mat-label>Recipient</mat-label>
    <mat-select [(ngModel)]="recipient" name="recipient" required>
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user.email }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div
    *ngIf="MsgForm.controls?.content?.invalid && MsgForm.submitted"
    class="error"
  >
    Choose recipient please!
  </div>
  <div class="form-group text-center">
    <textarea
      class="form-control"
      name="content"
      placeholder="Message"
      required
      [(ngModel)]="msgText"
    ></textarea>
    <div
      *ngIf="MsgForm.controls?.content?.invalid && MsgForm.submitted"
      class="error"
    >
      Message is empty!
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">
      Send Message
    </button>
  </div>
</form>
